<div class="card-body spazio">  
  <span class="briciole"><a routerLink="../../default/pagina-avvisi">Home</a> / Pagina Richieste</span>
  <span class="allineamentoInvio" *ngIf="ruolo == 'Direttore Commerciale'"><input type="submit" value="Invia Richieste" (click)="salvaPriorita()"></span>
</div>
<div>
	<div class="page avviso">
		<div class="page">
			<div class="row">
        <!-- 
        RICHIESTA 1 DATA
        RICHIESTA 2 CLIENTE
        RICHIESTA 3 CITTA'
        RICHIESTA 4 COSTO
        RICHIESTA 5 NOTE/TESTO
        RICHIESTA 6 SKILL/LINGUAGGI
        RICHIESTA 7 RUOLO/PROFILO   
        RICHIESTA 8 SENIORITY
        RICHIESTA 9 STATO RICHIESTA
        RICHIESTA 10 STATO RICHIESTA
        -->
        <div class="col-4 card_avvisi" *ngFor="let richiesta of listaRichieste" [ngClass]="{'prioritaAlta': richiesta[10] == 1, 'prioritaMedia': richiesta[10] == 2, 'prioritaBassa': richiesta[10] == 3}">
          <a class="cursor" (click)="goVisualizzaRichiesta(richiesta[0], richiesta[11])">
            <span class="titolo_richieste">{{richiesta[7]}}</span><i *ngIf="richiesta[11] == false && ruolo == 'Recruiter'" class="icon-fiber_new green-text s18"></i>
            <div class="richieste"><span class="titolo_testo_richieste">Priorit&agrave; : </span>
              <span *ngIf="richiesta[10] == 0" class="testo_richieste">Non assegnata</span>
              <span *ngIf="richiesta[10] == 1" class="testo_richieste">Alta</span>
              <span *ngIf="richiesta[10] == 2" class="testo_richieste">Media</span>
              <span *ngIf="richiesta[10] == 3" class="testo_richieste">Bassa</span>
            </div>
            <div class="richieste"><span class="titolo_testo_richieste">Stato Richiesta : </span><span class="testo_richieste">{{richiesta[9]}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Cliente : </span><span class="testo_richieste">{{richiesta[2]}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Citt&agrave; : </span><span class="testo_richieste">{{richiesta[3]}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Costo : </span><span class="testo_richieste">{{richiesta[4]}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Skill - Linguaggi : </span><span class="testo_richieste">{{richiesta[6]}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Seniority : </span><span class="testo_richieste">{{richiesta[8]}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Messaggio : </span><span class="testo_richieste">{{richiesta[5]}}</span></div>
            <footer class="blockquote-footer_richieste pt-4 mt-4 border-top_richieste"></footer>
          </a>
          <div *ngIf="ruolo == 'Direttore Commerciale' && richiesta[10] == 0" class="row">
            <div class="col"><input type="radio" name={{richiesta[0]}} (change)="arrayPriorita(richiesta[0], 1)">Alta</div>
            <div class="col"><input type="radio" name={{richiesta[0]}} (change)="arrayPriorita(richiesta[0], 2)">Media</div>
            <div class="col"><input type="radio" name={{richiesta[0]}} (change)="arrayPriorita(richiesta[0], 3)">Bassa</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>