<div class="card-body spazio">  
  <span class="briciole"><a routerLink="../../default/pagina-avvisi">Home</a> / Pagina Richieste</span>
  <span class="allineamentoInvio" *ngIf="ruolo == 'Direttore Commerciale' || ruolo == 'Admin'"><input type="submit" value="Invia Richieste" (click)="salvaPriorita()"></span>
</div>
<div>
	<div class="page avviso">
		<div class="page">
			<div class="row">
        <div class="col-4 card_avvisi" *ngFor="let richiesta of listaRichieste" [ngClass]="{'prioritaAlta': richiesta.priorita == 1, 'prioritaMedia': richiesta.priorita == 2, 'prioritaBassa': richiesta.priorita == 3}">
          <a class="cursor" (click)="goVisualizzaRichiesta(richiesta.id, richiesta.visualizzato)">
            <span class="titolo_richieste">{{richiesta.profiliNome}}</span><i *ngIf="richiesta.visualizzato == false && ruolo == 'Recruiter'" class="icon-fiber_new green-text s18"></i>
            <div class="richieste"><span class="titolo_testo_richieste">Priorit&agrave; : </span>
              <span *ngIf="richiesta.priorita == 0" class="testo_richieste">Non assegnata</span>
              <span *ngIf="richiesta.priorita == 1" class="testo_richieste">Alta</span>
              <span *ngIf="richiesta.priorita == 2" class="testo_richieste">Media</span>
              <span *ngIf="richiesta.priorita == 3" class="testo_richieste">Bassa</span>
            </div>
            <div class="richieste"><span class="titolo_testo_richieste">Stato Richiesta : </span><span class="testo_richieste">{{richiesta.statiRichiestaNome}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Cliente : </span><span class="testo_richieste">{{richiesta.cliente}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Citt&agrave; : </span><span class="testo_richieste">{{richiesta.citta}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Costo : </span><span class="testo_richieste">{{richiesta.costo}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Skill - Linguaggi : </span><span class="testo_richieste">{{richiesta.linguaggiNome}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Seniority : </span><span class="testo_richieste">{{richiesta.livelliNome}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Messaggio : </span><span class="testo_richieste">{{richiesta.note}}</span></div>
            <footer class="blockquote-footer_richieste pt-4 mt-4 border-top_richieste"></footer>
          </a>
          <div *ngIf="(ruolo == 'Direttore Commerciale' || ruolo == 'Admin') && richiesta.priorita == 0" class="row">
            <div class="col"><input type="radio" name={{richiesta.id}} (change)="arrayPriorita(richiesta.id, 1)">Alta</div>
            <div class="col"><input type="radio" name={{richiesta.id}} (change)="arrayPriorita(richiesta.id, 2)">Media</div>
            <div class="col"><input type="radio" name={{richiesta.id}} (change)="arrayPriorita(richiesta.id, 3)">Bassa</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>