<div class="card-body spazio">
  <div class="row">
    <div class="col-1">
  <span class="briciole"><a routerLink="../../default/pagina-avvisi">Home</a></span>
  </div>
  <div class="col-3">
    <h5> <span><i class="icon-circle 1" style="font-size: 27px;color :yellow"></i> Bassa  </span>
    <span><i class="icon-circle 2" style="font-size: 27px;color :orange"></i> Media </span>
    <span><i class="icon-circle 3" style="font-size: 27px;color :green"></i> Alta  </span></h5>
  </div>
  <div class="col-3 offset-5">
  <span class="allineamentoInvio" *ngIf="(ruolo == 'Direttore Commerciale' || ruolo == 'Admin') && contatore != 0"><input type="submit" value="Invia Richieste" (click)="salvaPriorita()"></span>
</div>
</div>
</div>
<div>
	<div class="page avviso">
		<div class="page">
			<div class="row">
        <div class="col-4 card_avvisi" *ngFor="let richiesta of listaRichieste" [ngClass]="{'prioritaAlta': richiesta.priorita == 1, 'prioritaMedia': richiesta.priorita == 2, 'prioritaBassa': richiesta.priorita == 3}">
          <a class="cursor" (click)="goVisualizzaRichiesta(richiesta.id, richiesta.visualizzato)">
            <span class="titolo_richieste">{{richiesta.profiliNome}}</span>
            <i *ngIf="richiesta.visualizzato == false && ruolo == 'Recruiter'" class="icon-fiber_new green-text s18"></i>
            <i *ngIf="richiesta.statiRichiesteNome == 'Attesa Conferma' && ruolo == 'Account'" class="icon-work"></i>
            <div class="richieste"><span class="titolo_testo_richieste">Priorit&agrave; : </span>
              <span *ngIf="richiesta.priorita == 0" class="testo_richieste">Non assegnata</span>
              <span *ngIf="richiesta.priorita == 1" class="testo_richieste">Alta</span>
              <span *ngIf="richiesta.priorita == 2" class="testo_richieste">Media</span>
              <span *ngIf="richiesta.priorita == 3" class="testo_richieste">Bassa</span>
            </div>
            <div class="richieste"><span class="titolo_testo_richieste">Stato Richiesta : </span><span class="testo_richieste">{{richiesta.statiRichiesteNome}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Cliente : </span><span class="testo_richieste">{{richiesta.cliente}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Citt&agrave; : </span><span class="testo_richieste">{{richiesta.citta}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Costo : </span><span class="testo_richieste">{{richiesta.costo}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Skill - Linguaggi : </span><span class="testo_richieste">{{richiesta.linguaggiNome}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Seniority : </span><span class="testo_richieste">{{richiesta.livelliNome}}</span></div>
            <div class="richieste"><span class="titolo_testo_richieste">Messaggio : </span><span class="testo_richieste">{{richiesta.note}}</span></div>
            <footer class="blockquote-footer_richieste pt-4 mt-4 border-top_richieste"></footer>
            <div class="richieste" *ngIf="richiesta.recruiters">
              <span class="titolo_testo_richieste">Recruiter Assegnati : </span>
              <div *ngFor="let recruiter of richiesta.recruiters.toString().split(',')" class="richieste"><span class="testo_richieste">{{recruiter}}</span></div>
            </div>
          </a>
          <div *ngIf="(ruolo == 'Direttore Commerciale' || ruolo == 'Admin') && richiesta.priorita == 0" class="row">
            <span class="titolo_testo_richieste">Assegna una priorità : </span><br><br>
            <div class="col"><input type="radio" name={{richiesta.id}} (change)="arrayPriorita(richiesta.id, 1)">Alta</div>
            <div class="col"><input type="radio" name={{richiesta.id}} (change)="arrayPriorita(richiesta.id, 2)">Media</div>
            <div class="col"><input type="radio" name={{richiesta.id}} (change)="arrayPriorita(richiesta.id, 3)">Bassa</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>