<div class="card-body spazio">
  <span class="briciole"><a routerLink="../../default/pagina-avvisi">Home</a> / Nuovo Candidato</span>
</div>
<div class="card-body">
	<form #addForm="ngForm" (ngSubmit)="aggiungiCandidato(addForm)">
		<div class="card no-b  no-r">
			<div class="card-body">
				<h5 class="card-title">Anagrafica</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="nomeCognome" class="col-form-label s-12">NOME E COGNOME</label> 
                <input ngModel name="nomeCognome" placeholder="Inserisci Nome e Cognome"
									class="form-control r-0 light s-12 " type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="cellulare" class="col-form-label s-12">CELLULARE</label>
								<input ngModel name="cellulare" placeholder="Inserisci Cellulare"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="email" class="col-form-label s-12">EMAIL</label>
								<input ngModel name="email" placeholder="Inserisci Email"
 									class="form-control r-0 light s-12 datePicker" type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="profiloLinkedin" class="col-form-label s-12">PROFILO LINKEDIN</label>
								<input ngModel name="profiloLinkedin" placeholder="Linkedin URL"
									class="form-control r-0 light s-12 datePicker" type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="citta" class="col-form-label s-12">CITT&Agrave;</label> 
                <input ngModel name="citta" placeholder="Inserisci Citt&agrave;"
									class="form-control r-0 light s-12 datePicker" type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="cv" class="col-form-label s-12">CARICA CV</label>
         				<input ngModel name="cv" type="file" (change)="selectFile($event)"
         					class="form-control r-0 light s-12 datePicker">
         			</div>
						</div>
					</div>
				</div>
				<!-- Fine row -->
			</div>
			<!-- Fine Card -->
			<hr>

			<div class="card-body">
				<h5 class="card-title">Colloquio</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="dataColloquio" class="col-form-label s-12"><i class="icon-calendar mr-2"></i>DATA COLLOQUIO</label> 
                <input ngModel name="dataColloquio" placeholder="Inserisci Data Colloquio"
									class="form-control r-0 light s-12 datePicker" type="date">
							</div>
							<div class="form-group col-4 m-0">
								<label for="annoColloquio" class="col-form-label s-12">ANNO COLLOQUIO</label> 
                <input ngModel name="annoColloquio" placeholder="Inserisci Anno Colloquio" 
									class="form-control r-0 light s-12 date-picker" type="number">
							</div>
							<div class="form-group col-4 m-0">
								<label for="esitoColloquio" class="col-form-label s-12">ESITO COLLOQUIO</label> 
								<select ngModel name="esitoColloquio" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let esitoColloquio of listaEsitiColloquio" value={{esitoColloquio.id}}>{{esitoColloquio.nome}}</option>
    						</select>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Candidatura</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="fonteReperimento" class="col-form-label s-12">FONTE REPERIMENTO</label> 
                <input ngModel name="fonteReperimento" placeholder="Inserisci Fonte Reperimento"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div class="form-group col-4 m-0">
								<label for="profilo" class="col-form-label s-12">RUOLO</label>
								<select ngModel name="profilo" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let profili of listaProfili" value={{profili.id}}>{{profili.nome}}</option>
								</select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="competenzaPrincipale" class="col-form-label s-12">COMPETENZA PRINCIPALE</label>
								<input ngModel name="competenzaPrincipale" placeholder="Insersci Competenza Principale"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Costo Impiego</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="costoGiornaliero" class="col-form-label s-12">COSTO GIORNALIERO</label> 
                <input ngModel name="costoGiornaliero" placeholder="Insersci Costo Giornaliero"
									class="form-control r-0 light s-12 date-picker" type="number" step="0.01">
							</div>
							<div class="form-group col-6 m-0">
								<label for="possibilitaLavorativa" class="col-form-label s-12">POSSIBILIT&Agrave; LAVORATIVA</label>
								<input ngModel name="possibilitaLavorativa" placeholder="Insersci Possibilit&agrave; Lavorativa"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Skill</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="linguaggio1" class="col-form-label s-12">SKILL1</label>
								<select ngModel name="linguaggio1" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let linguaggio of listaLinguaggi" value={{linguaggio.id}}>{{linguaggio.nome}}</option>
								</select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="linguaggio2" class="col-form-label s-12">SKILL2</label>
								<select ngModel name="linguaggio2" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let linguaggio of listaLinguaggi" value={{linguaggio.id}}>{{linguaggio.nome}}</option>
								</select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="linguaggio3" class="col-form-label s-12">SKILL3</label>
								<select ngModel name="linguaggio3" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let linguaggio of listaLinguaggi" value={{linguaggio.id}}>{{linguaggio.nome}}</option>
								</select>
							</div>

							<div class="form-group col-4 m-0">
								<label for="linguaggio4" class="col-form-label s-12">SKILL4</label>
								<select ngModel name="linguaggio4" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let linguaggio of listaLinguaggi" value={{linguaggio.id}}>{{linguaggio.nome}}</option>
								</select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="linguaggio5" class="col-form-label s-12">SKILL5</label>
								<select ngModel name="linguaggio5" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let linguaggio of listaLinguaggi" value={{linguaggio.id}}>{{linguaggio.nome}}</option>
								</select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="linguaggioCampoLibero" class="col-form-label s-12">SKILL (campo libero)</label> 
                <input ngModel name="linguaggioCampoLibero" placeholder="Insersci Skill Campo Libero"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Lingua</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="lingua1" class="col-form-label s-12">LINGUA 1</label> 
								<select ngModel name="lingua1" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let lingua of listaLingue" value={{lingua.id}}>{{lingua.nome}}</option>
   							</select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="lingua2" class="col-form-label s-12">LINGUA 2</label>
								<select ngModel name="lingua2" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let lingua of listaLingue" value={{lingua.id}}>{{lingua.nome}}</option>
                </select>
							</div>
							<div class="form-group col-4 m-0">
								<label for="lingua3" class="col-form-label s-12">LINGUA 3</label> 
								<select ngModel name="lingua3" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let lingua of listaLingue" value={{lingua.id}}>{{lingua.nome}}</option>
   							</select>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Info Extra</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="competenzeTotali" class="col-form-label s-12">COMPETENZE TOTALI</label> 
                <input ngModel name="competenzeTotali" placeholder="Insersci Competenze Totali"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div class="form-group col-4 m-0">
								<label for="certificazioni" class="col-form-label s-12">CERTIFICAZIONI</label>
								<input ngModel name="certificazioni" placeholder="Insersci Certificazioni"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div class="form-group col-4 m-0">
								<label for="livello" class="col-form-label s-12">SENIORITY</label>
								<select ngModel name="livello" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let livello of listaLivelli" value={{livello.id}}>{{livello.nome}}</option>
   							</select>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Impressioni</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-12 m-0">
								<label for="commento" class="col-form-label s-12">COMMENTO</label>
								<input ngModel name="commento" placeholder="Insersci Commento"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>

				<div class="card-body">
          <input type="hidden" name="idDipendente">
					<input type="submit" value="SALVA">
				</div>
			</div>
		</div>
	</form>
</div>