<div class="card-body spazio">
  <span class="briciole"><a routerLink="../../default/pagina-avvisi">Home</a> / Nuovo Candidato</span>
</div>
<div class="card-body">
	<form #addForm="ngForm" (ngSubmit)="aggiungiCandidato(addForm)">
		<div class="card no-b  no-r">
			<div class="card-body">
				<h5 class="card-title">Anagrafica</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="nomeCognome" class="col-form-label s-12">NOME</label> 
                <input ngModel name="nome" placeholder="Inserisci Nome"
									class="form-control r-0 light s-12 " type="text">
							</div>
							<div class="form-group col-4 m-0">
								<label for="nomeCognome" class="col-form-label s-12">COGNOME</label> 
                <input ngModel name="cognome" placeholder="Inserisci Cognome"
									class="form-control r-0 light s-12 " type="text">
							</div>
							<div class="form-group col-4 m-0">
								<label for="cellulare" class="col-form-label s-12">CELLULARE</label>
								<input ngModel name="cellulare" placeholder="Inserisci Cellulare"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="email" class="col-form-label s-12">EMAIL</label>
								<input ngModel name="email" placeholder="Inserisci Email"
 									class="form-control r-0 light s-12 datePicker" type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="profiloLinkedin" class="col-form-label s-12">PROFILO LINKEDIN</label>
								<input ngModel name="profiloLinkedin" placeholder="Linkedin URL"
									class="form-control r-0 light s-12 datePicker" type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="citta" class="col-form-label s-12">CITT&Agrave;</label> 
                <input ngModel name="citta" placeholder="Inserisci Citt&agrave;"
									class="form-control r-0 light s-12 datePicker" type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="cv" class="col-form-label s-12">CARICA CV</label>
         				<input ngModel name="cv" type="file" (change)="selectFile($event)"
         					class="form-control r-0 light s-12 datePicker">
         			</div>
						</div>
					</div>
				</div>
				<!-- Fine row -->
			</div>
			<!-- Fine Card -->
			<hr>

			<div class="card-body">
				<h5 class="card-title">Colloquio</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="dataColloquio" class="col-form-label s-12"><i class="icon-calendar mr-2"></i>DATA COLLOQUIO</label> 
                <input ngModel name="dataColloquio" placeholder="Inserisci Data Colloquio"
									class="form-control r-0 light s-12 datePicker" type="date">
							</div>
							<div class="form-group col-4 m-0">
								<label for="annoColloquio" class="col-form-label s-12">ANNO COLLOQUIO</label> 
                <input ngModel name="annoColloquio" placeholder="Inserisci Anno Colloquio" 
									class="form-control r-0 light s-12 date-picker" type="number">
							</div>
							<div class="form-group col-4 m-0">
								<label for="esitoColloquio" class="col-form-label s-12">ESITO COLLOQUIO</label> 
								<select ngModel name="esitoColloquio" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let esitoColloquio of listaEsitiColloquio" value={{esitoColloquio.id}}>{{esitoColloquio.nome}}</option>
    						</select>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Candidatura</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="fonteReperimento" class="col-form-label s-12">FONTE REPERIMENTO</label> 
                <input ngModel name="fonteReperimento" placeholder="Inserisci Fonte Reperimento"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="competenzaPrincipale" class="col-form-label s-12">COMPETENZA PRINCIPALE</label>
								<input ngModel name="competenzaPrincipale" placeholder="Insersci Competenza Principale"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
			<div class="card-body">
				<h5 class="card-title">Competenze</h5>
				<div class="form-row">
					<div id="lista-ruoli" class="col-md-12">
						<div id="row-ruolo-0" class="form-row">

							<div class="form-group col-3 m-0">
								<label for="profilo" class="col-form-label s-12">RUOLO</label>
								<select id="profilo" (change)="selectProfilo($event)" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" selected disabled>Selezionare...</option> 
    							<option *ngFor="let profilo of listaProfili" value={{profilo.id}}>{{profilo.nome}}</option>
								</select>
							</div>

							<div id="linguaggio" class="form-group col-2 m-0" style="display: none">
								<label for="linguaggio" class="col-form-label s-12">LINGUAGGIO</label> 
								<select class="form-control r-0 light s-12 date-picker freccia" (change)="selectLinguaggio($event)">
									<option value="" selected disabled>Selezionare...</option>
									<option *ngFor="let linguaggio of listaLinguaggi" value={{linguaggio.id}}>{{linguaggio.nome}}</option>
								</select>
							</div>
							<div id="livelloProgrammatore" class="form-group col-2 m-0" style="display: none">
								<label for="livello" class="col-form-label s-12">SENIORITY</label>
								<select class="form-control r-0 light s-12 date-picker freccia" (change)="selectLivello($event)">
									<option value="" selected disabled>Selezionare...</option>
									<option *ngFor="let livello of listaLivelli" value={{livello.id}}>{{livello.nome}}</option>
								</select>
							</div>

							<div id="livello" class="form-group col-4 m-0" style="display: none">
								<label for="livello" class="col-form-label s-12">SENIORITY</label>
								<select class="form-control r-0 light s-12 date-picker freccia" (change)="selectLivello($event)">
									<option value="" selected disabled>Selezionare...</option>
									<option *ngFor="let livello of listaLivelli" value={{livello.id}}>{{livello.nome}}</option>
								</select>
							</div>

							<div id="note" class="form-group col-4 m-0" style="display: none">
								<label for="note" class="col-form-label s-12">NOTE</label> 
								<input placeholder="Inserisci Note" (change)="selectNote($event)"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div id="button" class="col 1" style="display: none">
								<div class="row">
									<div class="form-group col-12 m-0">
										<label for="button" class="col-form-label s-12">ADD</label>
										<button id="add" class="plus form-control r-0 light s-12 date-picker pulsante cursor" (click)="addRowProfilo()">+</button>
									</div>
								</div>
							</div>
							<div id="buttons" class="col 1" style="display: none">
								<div class="row">
									<div class="form-group col-6 m-0">
										<label for="button" class="col-form-label s-12">REMOVE</label>
										<span id="remove" class="plus form-control r-0 light s-12 date-picker pulsante cursor" (click)="removeRowProfilo()">-</span>
									</div>
									<div class="form-group col-6 m-0">
										<label for="button" class="col-form-label s-12">ADD</label>
										<button id="add" class="plus form-control r-0 light s-12 date-picker pulsante cursor" (click)="addRowProfilo()">+</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
			<div class="card-body">
				<h5 class="card-title">Lingue</h5>
				<div class="form-row">
					<div id="lista-lingue" class="col-md-12">
						<div id="row-lingua-0" class="form-row">

							<div class="form-group col-10 m-0">
								<label for="lingua" class="col-form-label s-12">LINGUA</label>
								<select id="lingua" (change)="selectLingua($event)" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" selected disabled>Selezionare...</option> 
    							<option *ngFor="let lingua of listaLingue" value={{lingua.id}}>{{lingua.nome}}</option>
								</select>
							</div>

							<div id="button" class="col-2" style="display: none">
								<div class="row">
									<div class="form-group col-12 m-0">
										<label for="button" class="col-form-label s-12">ADD</label>
										<button id="add" class="plus form-control r-0 light s-12 date-picker pulsante cursor" (click)="addRowLingua()">+</button>
									</div>
								</div>
							</div>
							<div id="buttons" class="col-2" style="display: none">
								<div class="row">
									<div class="form-group col-6 m-0">
										<label for="button" class="col-form-label s-12">REMOVE</label>
										<span id="remove" class="plus form-control r-0 light s-12 date-picker pulsante cursor" (click)="removeRowLingua()">-</span>
									</div>
									<div class="form-group col-6 m-0">
										<label for="button" class="col-form-label s-12">ADD</label>
										<button id="add" class="plus form-control r-0 light s-12 date-picker pulsante cursor" (click)="addRowLingua()">+</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Mansione</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-12 m-0">
								<label for="possibilitaLavorativa" class="col-form-label s-12">POSSIBILIT&Agrave; LAVORATIVA</label>
								<input ngModel name="possibilitaLavorativa" placeholder="Insersci Possibilit&agrave; Lavorativa"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Info Extra</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="competenzeTotali" class="col-form-label s-12">COMPETENZE TOTALI</label> 
                <input ngModel name="competenzeTotali" placeholder="Insersci Competenze Totali"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="certificazioni" class="col-form-label s-12">CERTIFICAZIONI</label>
								<input ngModel name="certificazioni" placeholder="Insersci Certificazioni"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
			<div class="card-body bodyColore">
				<h5 class="card-title">Attuali Condizioni Contrattuali</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="ral" class="col-form-label s-12">RAL</label> 
                <input ngModel name="ral" placeholder="Insersci RAL"
									class="form-control r-0 light s-12 date-picker" type="number">
							</div>
							<div class="form-group col-4 m-0">
								<label for="ccnl" class="col-form-label s-12">CCNL</label>
								<select ngModel id="ccnl" name="ccnl" class="form-control r-0 light s-12 date-picker freccia" (change)="selectLivelloInquadramento($event)">
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let ccnl of listaCcnl" value={{ccnl.id}}>{{ccnl.nome}}</option>
								</select>
								<!-- <input ngModel name="ccnl" placeholder="Insersci CCNL"
									class="form-control r-0 light s-12 date-picker" type="text"> -->
							</div>
							<div class="form-group col-4 m-0">
								<label for="livelloInquadramento" class="col-form-label s-12">LIVELLO INQUADRAMENTO</label>
								<select ngModel id="livelloInquadramento" name="livelloInquadramento" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let livelloInquadramento of listaLivelloInquadramento" value={{livelloInquadramento.id}}>{{livelloInquadramento.nome}}</option>
								</select>
								<!-- <input ngModel name="livelloInquadramento" placeholder="Insersci Livello Inquadramento"
									class="form-control r-0 light s-12 date-picker" type="text"> -->
							</div>
						</div>
						<div class="form-row" style="margin-top: 20px">
							<div class="form-group col-4 m-0">
								<label for="ticket" class="col-form-label s-12">TICKET</label>
								<input ngModel name="ticket" placeholder="Insersci Ticket"
									class="form-control r-0 light s-12 date-picker" type="text" step="0.01">
							</div>
							<div class="form-group col-4 m-0">
								<label for="rimborsi" class="col-form-label s-12">RIMBORSI</label>
								<input ngModel name="rimborsi" placeholder="Insersci Rimborsi"
									class="form-control r-0 light s-12 date-picker" type="number">
							</div>
							<div class="form-group col-4 m-0">
								<label for="preavviso" class="col-form-label s-12">PREAVVISO</label>
								<input ngModel name="preavviso" placeholder="Insersci Preavviso"
									class="form-control r-0 light s-12 date-picker" type="number">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
			<div class="card-body bodyColore">
				<h5 class="card-title">Condizioni Economiche Desiderate</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-3 m-0">
								<label for="costoGiornaliero" class="col-form-label s-12">COSTO GIORNALIERO (€)</label> 
                <input ngModel name="costoGiornaliero" placeholder="Insersci Costo Giornaliero"
									class="form-control r-0 light s-12 date-picker" type="number" step="0.01">
							</div>
							<div class="form-group col-9 m-0">
								<label for="campoLibero" class="col-form-label s-12">CAMPO LIBERO</label>
								<input ngModel name="campoLibero" placeholder="Insersci Campo Libero"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
			</div>
      <div class="card-body">
				<h5 class="card-title">Impressioni</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-12 m-0">
								<label for="commento" class="col-form-label s-12">COMMENTO</label>
								<input ngModel name="commento" placeholder="Insersci Commento"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>

				<div class="card-body">
					<input type="submit" value="SALVA">
				</div>
			</div>
		</div>
	</form>
</div>