<div class="card-body spazio">
  <span class="briciole"><a routerLink="../../../default/pagina-avvisi">Home</a> / <a routerLink="../../../default/pagina-beni">Pagina Beni</a> / Visualizza Bene</span>
</div>
<div class="page">
  <div class="container-fluid relative animatedParent animateOnce p-lg-3">
    <div class="card no-b shadow no-r">
      <div class="row no-gutters">
        <div class="col-md-4 b-r size">
          <div class="text-center">
            <img class="size" src="../../../../assets/img/img-laptop.png">
          </div>
          <div class="text-center p-5 mt-5">
            <div *ngIf="hardware"><h4 class="p-t-10">{{hardware.idDispositivo}}</h4></div>
            <div *ngIf="hardware"><h4 class="p-t-10">{{hardware.seriale}}</h4></div>
            <a [routerLink]="['../../pagina-modifica-bene', idHardware]" class="btn btn-success giallo mt-3 button">Modifica</a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="p5 b-b">
            <div class="row">
              <div class="col-md-6">
                <div *ngIf="hardware" class="p-4">
                  <h5 class="text-black">Marca</h5>
                  <h5 class="p-t-10">{{hardware.marca}}</h5>
                </div>
              </div>
              <div class="col-md-6">
                <div *ngIf="hardware" class="p-4">
                  <h5 class="text-black">Modello</h5>
                  <h5 class="p-t-10">{{hardware.modello}}</h5>
                </div>
              </div>                                
            </div>
          </div>
          <div class="p5 b-b">
            <div class="row">
              <!--
              <div class="col-md-6">
                <div *ngIf="hardware" class="p-4">
                  <h5 class="text-black">Password</h5>
                  <h5 class="p-t-10">{{hardware.password}}</h5>
                </div>
              </div>
              -->
              <div class="col-md-6">
                <div *ngIf="hardware" class="p-4">
                  <h5 class="text-black">Note</h5>
                  <h5 class="p-t-10">{{hardware.note}}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="p5 b-b">
            <div class="row">
              <div class="col-md-6">
                <div *ngIf="hardware" class="p-4">
                  <h5 class="text-black">Dipendente</h5>
                  <h5 class="p-t-10">{{hardware.idPersona}}</h5>
                </div>
              </div>
              <!--
              <div class="col-md-6">
                <div *ngIf="bene" class="p-4">
                  <h5 class="text-black">Societ&agrave;</h5>
                  <h5 class="p-t-10">{{bene.societa}}</h5>
                </div>
              </div>
              -->
            </div>
          </div>                             
        </div> <!-- fine campi stretti -->
      </div>                           
      <div class="p5 b-b bordo"> <!-- inizio campi larghi --> 
        <div class="row">
          <div class="col-md-6">
            <div *ngIf="hardware" class="p-4">
              <h5 class="text-black">Data Consegna</h5>
              <h5 *ngIf="hardware.dataConsegna != null" class="p-t-10">{{hardware.dataConsegna.toString().replace("T", " ")}}</h5>
            </div>
          </div>   
          <div class="col-md-6">
            <div *ngIf="hardware" class="p-4">
              <h5 class="text-black">Data Restituzione</h5>
              <h5 *ngIf="hardware.dataConsegna != null" class="p-t-10">{{hardware.dataRestituzione.toString().replace("T", " ")}}</h5>
            </div>
          </div>                                                         
        </div>
      </div>
      <div class="card-body">
				<h5 class="card-title">Storico</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="col-md-10 offset-1" *ngFor="let storico of listaStorico">
                <div class="form-row">
                  <div class="col-md-2">
                    <span>{{storico.idPersona}}</span>
                  </div>
                  <div class="col-md-2">
                    <span> {{storico.dataConsegna}}</span>
                  </div>
                  <div class="col-md-2">
                    <span> {{storico.dataRestituzione}}</span>
                  </div>
                </div>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
    </div>  
  </div>
</div>
