<div class="card-body spazio">
  <span class="briciole"><a routerLink="../../default/pagina-avvisi">Home</a> / Nuovo Bene</span>
</div>
<div class="card-body">
	<form #addForm="ngForm" (ngSubmit)="salvaHardware(addForm)">
		<div class="card no-b  no-r">
			<div class="card-body">
				<h5 class="card-title">Informazioni</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="dispositivi" class="col-form-label s-12">DISPOSITIVO</label>
								<select ngModel name="dispositivi" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" selected disabled>Selezionare...</option>
    								<option *ngFor="let dispositivo of listaDispositivi" value={{dispositivo.id}}>{{dispositivo.nome}}</option>
    							</select>
							</div>
							<div class="form-group col-6 m-0">
								<label for="marca" class="col-form-label s-12">MARCA</label>
								<input ngModel name="marca" placeholder="Inserisci Marca" maxlength="50"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="modello" class="col-form-label s-12">MODELLO</label>
								<input ngModel name="modello" placeholder="Inserisci Modello" maxlength="100"
 									class="form-control r-0 light s-12 datePicker" type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="seriale" class="col-form-label s-12">NUMERO SERIALE</label>
								<input ngModel name="seriale" placeholder="Linkedin Numero Seriale" maxlength="50"
									class="form-control r-0 light s-12 datePicker" type="text">
							</div>
							<div class="form-group col-6 m-0">
								<label for="password" class="col-form-label s-12">PASSWORD</label> 
                <input ngModel name="password" placeholder="Inserisci Password" maxlength="50"
									class="form-control r-0 light s-12 datePicker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine row -->
			</div>
			<!-- Fine Card -->
			<hr>
      <div class="card-body">
				<h5 class="card-title">Extra</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-4 m-0">
								<label for="dipendente" class="col-form-label s-12">DIPENDENTE</label>
								<input ngModel name="dipendente" placeholder="Insersci Dipendente" maxlength="100"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
              <div class="form-group col-8 m-0">
								<label for="note" class="col-form-label s-12">NOTE</label> 
                <input ngModel name="note" placeholder="Insersci Note"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
              <div class="form-group col-6 m-0">
								<label for="dataConsegna" class="col-form-label s-12"><i class="icon-calendar mr-2"></i>DATA CONSEGNA</label>
								<input ngModel name="dataConsegna" placeholder="Inserisci Data Consegna"
									class="form-control r-0 light s-12 date-picker" type="date">
							</div>
              <div class="form-group col-6 m-0">
								<label for="dataRestituzione" class="col-form-label s-12"><i class="icon-calendar mr-2"></i>DATA RESTITUZIONE</label>
								<input ngModel name="dataRestituzione" placeholder="Insersci Data Restituzione"
									class="form-control r-0 light s-12 date-picker" type="date">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
        <input type="submit" value="SALVA">
      </div>
		</div>
	</form>
</div>