<div class="card-body spazio">
  <span class="briciole"><a routerLink="../../default/pagina-avvisi">Home</a> / Modifica Password</span>
</div>
<form ngNativeValidate #updateForm="ngForm" (ngSubmit)="cambiaPassword(updateForm)">
  <div class="row spazio">
    <div class="form-group col-6 m-0">
      <label for="password" class="col-form-label s-12">Password</label>
      <input ngModel name="password" placeholder="**********"
        class="form-control r-0 light s-12 date-picker" min="6" max="20" required type="password">
    </div>
    <div class="form-group col-6 m-0">
      <label for="confermaPassword" class="col-form-label s-12">Conferma Password</label>
      <input ngModel name="confermaPassword" placeholder="**********"
        class="form-control r-0 light s-12 date-picker" min="6" max="20" required type="password">
    </div>
    <div class="col-12">
      <input ngModel type="hidden" name="idDipendente">
      <input class="aggiungi_utente" type="submit" value="Modifica">
    </div>
  </div>
</form>