<div class="card-body spazio">
  <span class="briciole"><a routerLink="../../default/pagina-avvisi">Home</a> / Nuova Richiesta</span>
</div>
<div class="card-body">
	<form ngNativeValidate #addForm="ngForm" (ngSubmit)="aggiungiRichiesta(addForm)">
		<div class="card no-b  no-r">
			<div class="card-body">
				<h5 class="card-title">Nuova Richiesta</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="profilo" class="col-form-label s-12">Ruolo</label> 
								<select ngModel name="profilo" class="form-control r-0 light s-12 date-picker freccia" required>
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let profilo of listaProfili" value={{profilo.id}}>{{profilo.nome}}</option>
								</select>
							</div>
							<div class="form-group col-6 m-0">
								<label for="linguaggio" class="col-form-label s-12">Linguaggio</label>
								<select ngModel name="linguaggio" class="form-control r-0 light s-12 date-picker freccia" required>
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let linguaggio of listaLinguaggi" value={{linguaggio.id}}>{{linguaggio.nome}}</option>
								</select>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="livello" class="col-form-label s-12">Seniority</label>
								<select ngModel name="livello" class="form-control r-0 light s-12 date-picker freccia" required>
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let livello of listaLivelli" value={{livello.id}}>{{livello.nome}}</option>
   							</select>
							</div>
							<div class="form-group col-6 m-0">
								<label for="cliente" class="col-form-label s-12">Cliente</label>
								<select ngModel name="cliente" class="form-control r-0 light s-12 date-picker freccia" required>
									<option value="" selected disabled>Selezionare...</option>
    							<option *ngFor="let cliente of listaClienti" value={{cliente.id}}>{{cliente.nome}}</option>
   							</select>
							</div>
						</div>	
						<div class="form-row">
							<div class="form-group col-6 m-0">
								<label for="citta" class="col-form-label s-12">Citt&agrave;</label>
								<input ngModel name="citta" placeholder="Inserisci Citt&agrave;"
									class="form-control r-0 light s-12 datePicker"
									type="text" required>
							</div>
							<div class="form-group col-6 m-0">
								<label for="costo" class="col-form-label s-12">Massimo Costo Giornaliero</label>
								<input ngModel name="costo" placeholder="Inserisci Costo"
									class="form-control r-0 light s-12 datePicker"
									type="number" step="0.01" required>
							</div>
							<div class="col-12">
								<textarea ngModel class="noteNuova" name="note" placeholder="Inserire messaggio"></textarea>
							</div>
						</div>
						<hr>
						<div class="card-body">
							<input ngModel type="hidden" name="idDipendente">
							<input ngModel type="hidden" name="listaRecruiters">
							<input type="submit" value="INVIA">
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>	
</div>