<div class="card-body spazio" *ngIf="pagina == 0">
  <span class="briciole"><a routerLink="../../../../../default/pagina-avvisi">Home</a> / 
		<a routerLink="../../../../../default/pagina-candidati">Pagina Candidati</a> / Visualizza Candidati</span>
</div>
<div class="card-body spazio" *ngIf="pagina == 1">
  <span class="briciole"><a routerLink="../../../../../default/pagina-avvisi">Home</a> / 
    <a routerLink="../../../../../default/pagina-richieste">Pagina Richieste</a> /
		<a [routerLink]="['../../../../../default/pagina-scelta-candidati-richiesta', idRichiesta]">Scelta Candidati Richiesta</a> / 
		Modifica Candidati</span>
</div>
<div class="card-body spazio" *ngIf="pagina == 2">
  <span class="briciole"><a routerLink="../../../../../default/pagina-avvisi">Home</a> / 
    <a routerLink="../../../../../default/pagina-richieste">Pagina Richieste</a> /
		<a [routerLink]="['../../../../../default/pagina-visualizza-richiesta', idRichiesta, 0]">Visualizza Richiesta</a> / 
		Visualizza Candidati</span>
</div>
<div class="page">
  <div class="container-fluid relative animatedParent animateOnce p-lg-3">
    <div class="card no-b shadow no-r">
      <div class="row no-gutters">
        <div class="col-md-4 b-r size">
          <div *ngIf="response" class="text-center">
            <img *ngIf="response.infoDettaglioCandidato.coloreEsitoColloquio == 1" class="size" src="./assets/img/faccina-1.png">
            <img *ngIf="response.infoDettaglioCandidato.coloreEsitoColloquio == 2" class="size" src="./assets/img/faccina-2.png">
            <img *ngIf="response.infoDettaglioCandidato.coloreEsitoColloquio == 3" class="size" src="./assets/img/faccina-3.png">
            <img *ngIf="response.infoDettaglioCandidato.coloreEsitoColloquio == 4" class="size" src="./assets/img/faccina-4.png">
          </div>
          <div *ngIf="response" class="text-center p-5 mt-5">
            <div><h4 class="p-t-10">{{response.infoPersona.nome + " " + response.infoPersona.cognome}}</h4></div>
            <button id="cv" (click)="scaricaCV()" class="btn btn-success  mt-3 martopsu button" [ngStyle]="{'opacity':response.cvBase64 == null ? '0.3' : '1'}" [disabled]="response.cvBase64 == null">Scarica CV</button>
            <button *ngIf="ruolo != 'Account'" [routerLink]="['../../../../pagina-modifica-candidato', idCandidato, pagina, idRichiesta]" class="btn btn-success giallo mt-3 button">Modifica</button> 
            <button *ngIf="ruolo=='Admin'" (click)="eliminaCandidato()" class="btn btn-success rosso mt-3 button">Elimina</button>
            <button class="btn btn-success blue mt-3" (click)="copy()">Copia Link Scheda</button>
            <div class="mt-5">
              <ul class="social social list-inline">
                <li class="list-inline-item"><a class="grey-text cursor"><i class="icon-linkedin" (click)="openLinkedin()"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="p5 b-b">
            <div class="row">
              <div class="col-md-6">
                <div *ngIf="response" class="p-4">
                  <h5 class="text-black">Email</h5>
                  <h5 class="p-t-10">{{response.infoPersona.email}}</h5>
                </div>
              </div>
              <div class="col-md-6">
                <div *ngIf="response" class="p-4">
                  <h5 class="text-black">Recapito</h5>
                  <h5 class="p-t-10">{{response.infoPersona.cellulare}}</h5>
                </div>
              </div>                                
            </div>
          </div>
          <div class="p5 b-b">
            <div class="row">
              <div class="col-md-6">
                <div *ngIf="response" class="p-4">
                  <h5 class="text-black">Citt&agrave;</h5>
                  <h5 class="p-t-10">{{response.infoPersona.cittaDiResidenza}}</h5>
                </div>
              </div>
              <div class="col-md-6">
                <div *ngIf="response" class="p-4">
                  <h5 class="text-black">Data di Inseriemento</h5>
                  <h5 class="p-t-10">{{response.infoDettaglioCandidato.dataInserimento.toString().replace("T", " ")}}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="p5 b-b">
            <div class="row">
              <div class="col-md-12">
                <div *ngIf="response" class="p-4">
                  <h5 class="text-black">Competenza Principale</h5>
                  <h5 class="p-t-10">{{response.infoDettaglioCandidato.competenzaPrincipale}}</h5>
                </div>
              </div>
            </div>
          </div>                             
        </div> <!-- fine campi stretti -->
      </div>                           
      <div class="p5 b-b bordo"> <!-- inizio campi larghi --> 
        <div class="row">
          <div class="col-md-4">
            <div *ngIf="response" class="p-4">
              <h5 class="text-black">Data Colloquio:</h5>
              <h5 class="p-t-10">{{response.infoDettaglioCandidato.dataColloquio}}</h5>
            </div>
          </div>
          <div class="col-md-4">
            <div *ngIf="response" class="p-4">
              <h5 class="text-black">Anno Colloquio:</h5>
              <h5 class="p-t-10">{{response.infoDettaglioCandidato.annoColloquio}}</h5>
            </div>
          </div>   
          <div class="col-md-4">
            <div *ngIf="response" class="p-4">
              <h5 class="text-black">Esito Colloquio:</h5>
              <h5 class="p-t-10">{{response.infoDettaglioCandidato.esitoColloquio}}</h5>
            </div>
          </div>                                                         
        </div>
      </div>
      <div class="p5 b-b">
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="response" class="p-4">
              <h5 class="text-black">Fonte Reperimento: </h5>
              <h5 class="p-t-10">{{response.infoDettaglioCandidato.fonteReperimento}}</h5>
            </div>
          </div>
        </div>   
      </div>
      <div class="p5 b-b">
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="response != null" class="p-4">
              <h5 class="text-black">Competenze: </h5><br>
              <div class="row">
                <div class="col-3"><h5 class="p-t-10">PROFILO</h5></div>
                <div class="col-2"><h5 class="p-t-10">LINGUAGGIO</h5></div>
                <div class="col-2"><h5 class="p-t-10">LIVELLO</h5></div>
                <div class="col-5"><h5 class="p-t-10">DESCRIZIONE</h5></div>
              </div>
              <div *ngFor="let profilo of response.infoProfili">
                <div *ngIf="profilo.nomeProfilo == 'analista programmatore'" class="row">
                  <div class="col-3"><h5 class="p-t-10">{{profilo.nomeProfilo}}</h5></div>
                  <div class="col-2"><h5 class="p-t-10">{{profilo.nomeLinguaggio}}</h5></div>
                  <div class="col-2"><h5 class="p-t-10">{{profilo.nomeLivello}}</h5></div>
                  <div class="col-5"><h5 class="p-t-10">{{profilo.descrizione}}</h5></div>
                </div>
                <div *ngIf="profilo.nomeProfilo != 'analista programmatore'" class="row">
                  <div class="col-3"><h5 class="p-t-10">{{profilo.nomeProfilo}}</h5></div>
                  <div class="col-2 offset-2"><h5 class="p-t-10">{{profilo.nomeLivello}}</h5></div>
                  <div class="col-5"><h5 class="p-t-10">{{profilo.descrizione}}</h5></div>
                </div>
              </div>
            </div>
          </div>
        </div>   
      </div>
      <div class="p5 b-b">
        <div *ngIf="response" class="p-4">
          <h5 class="text-black">Lingue: </h5><br>
          <div class="row">
            <div class="col-3" *ngFor="let lingua of response.infoLingue">
              <h5 class="p-t-10">{{lingua.nomeLingua}}</h5>
            </div>
          </div>
        </div>   
      </div>

      <div class="p5 b-b">
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="response" class="p-4">
              <h5 class="text-black">Possibilit&agrave; Lavorativa:</h5>
              <h5 class="p-t-10">{{response.infoDettaglioCandidato.possibilitaLavorativa}}</h5>
            </div>
          </div> 
        </div>   
      </div>

      <div class="p5 b-b">
        <div class="row">
          <div class="col-md-6">
            <div *ngIf="response" class="p-4">
              <h5 class="text-black">Competenze Totali:</h5>
              <h5 class="p-t-10">{{response.infoDettaglioCandidato.competenzeTotali}}</h5>
            </div>
          </div>
            <div class="col-md-6">
              <div *ngIf="response" class="p-4">
                <h5 class="text-black">Certificazioni: </h5>
                <h5 class="p-t-10">{{response.infoDettaglioCandidato.certificazioni}}</h5>
              </div>
            </div>
        </div>
      </div>

      <div class="p5 b-b">
        <div class="row">
          <div class="col-md-4">
            <div *ngIf="response" class="p-4">
              <h5 class="text-black">Ral:</h5>
              <h5 class="p-t-10">{{response.infoDettaglioCandidato.ral}}</h5>
            </div>
          </div>
          <div class="col-md-4">
            <div *ngIf="response" class="p-4">
              <h5 class="text-black">Ccnl: </h5>
              <h5 class="p-t-10">{{response.infoDettaglioCandidato.ccnl}}</h5>
            </div>
          </div>
          <div class="col-md-4">
            <div *ngIf="response" class="p-4">
              <h5 class="text-black">Livello Inquadramento </h5>
              <h5 class="p-t-10">{{response.infoDettaglioCandidato.livelloInquadramentoNome}}</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="p5 b-b">
        <div class="row">
          <div class="col-md-4">
            <div *ngIf="response" class="p-4">
              <h5 class="text-black">Ticket</h5>
              <h5 class="p-t-10">{{response.infoDettaglioCandidato.ticket}}</h5>
            </div>
          </div>
          <div class="col-md-4">
            <div *ngIf="response" class="p-4">
              <h5 class="text-black">Rimborsi: </h5>
              <h5 class="p-t-10">{{response.infoDettaglioCandidato.rimborsi}}</h5>
            </div>
          </div>
          <div class="col-md-4">
            <div *ngIf="response" class="p-4">
              <h5 class="text-black">Preavviso: </h5>
              <h5 class="p-t-10">{{response.infoDettaglioCandidato.preavviso}}</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="p5 b-b">
        <div class="row">
          <div class="col-md-3">
            <div *ngIf="response" class="p-4">
              <h5 class="text-black">Costo Giornaliero (€):</h5>
              <h5 class="p-t-10">{{response.infoDettaglioCandidato.costoGiornaliero}}</h5>
            </div>
          </div> 
          <div class="col-md-9">
            <div *ngIf="response" class="p-4">
              <h5 class="text-black">Campo Libero:</h5>
              <h5 class="p-t-10">{{response.infoDettaglioCandidato.campoLibero}}</h5>
            </div>
          </div> 
        </div>   
      </div>
      



      <div class="p5 b-b"> 
        <div class="pl-4 mt-4">
          <h5 class="text-black">Commenti</h5>
        </div>
        <div *ngIf="response" class="row">
          <div class="col-md-10 offset-1" *ngFor="let commento of response.allCommentiCandidato">
            <span class="titolo_data">{{commento.data}}</span>
            <span class="titolo_data"> {{commento.nome + " " + commento.cognome}}</span>
            <p class="testo_richieste">{{commento.note}}</p>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
