<div class="card-body spazio" *ngIf="pagina == 0">
  <span class="briciole"><a routerLink="../../../../../default/pagina-avvisi">Home</a> / 
		<a routerLink="../../../../../default/pagina-candidati">Pagina Candidati</a> / Modifica Candidati</span>
</div>
<div class="card-body spazio" *ngIf="pagina == 1">
  <span class="briciole"><a routerLink="../../../../../default/pagina-avvisi">Home</a> / 
    <a routerLink="../../../../../default/pagina-richieste">Pagina Richieste</a> /
		<a [routerLink]="['../../../../../default/pagina-scelta-candidati-richiesta', idRichiesta]">Scelta Candidati Richiesta</a> / 
		Modifica Candidati</span>
</div>
<div class="card-body">
	<form ngNativeValidate #updateForm="ngForm" (ngSubmit)="updateCandidato(updateForm)">
		<div class="card no-b  no-r">
			<div class="card-body">
				<h5 class="card-title">Anagrafica</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div *ngIf="response" class="form-group col-4 m-0">
								<label for="nome" class="col-form-label s-12">NOME</label> 
                <input ngModel name="nome" [(ngModel)]=response.infoPersona.nome
									placeholder="Inserisci Nome"
									class="form-control r-0 light s-12" maxlength="100" type="text">
							</div>
							<div *ngIf="response" class="form-group col-4 m-0">
								<label for="cognome" class="col-form-label s-12">COGNOME</label> 
                <input ngModel name="cognome" [(ngModel)]=response.infoPersona.cognome
									placeholder="Inserisci Cognome"
									class="form-control r-0 light s-12" maxlength="100" type="text">
							</div>
							<div *ngIf="response" class="form-group col-4 m-0">
								<label for="cellulare" class="col-form-label s-12">CELLULARE</label>
								<input ngModel name="cellulare" [(ngModel)]=response.infoPersona.cellulare
									placeholder="Inserisci Cellulare" maxlength="10"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
						<div class="form-row">
							<div *ngIf="response" class="form-group col-6 m-0">
								<label for="email" class="col-form-label s-12">EMAIL</label>
								<input ngModel name="email" [(ngModel)]=response.infoPersona.email
                  placeholder="Inserisci Email" required maxlength="100"
									class="form-control r-0 light s-12 datePicker" type="text">
							</div>
							<div *ngIf="response" class="form-group col-6 m-0">
								<label for="profiloLinkedin" class="col-form-label s-12">PROFILO LINKEDIN</label>
								<input id="profiloLinkedin" name="profiloLinkedin" [(ngModel)]=response.infoDettaglioCandidato.profiloLinkedin
                  placeholder="Linkedin URL"
									class="form-control r-0 light s-12 datePicker" maxlength="1000" type="text">
							</div>
							<div *ngIf="response" class="form-group col-6 m-0">
								<label for="citta" class="col-form-label s-12">CITT&Agrave;</label> 
                <input ngModel name="citta" [(ngModel)]=response.infoPersona.cittaDiResidenza
                  placeholder="Inserisci Citt&agrave;" maxlength="100"
									class="form-control r-0 light s-12 datePicker" type="text">
							</div>
							<div *ngIf="response" class="form-group col-6 m-0">
								<label for="cv" class="col-form-label s-12">CARICA CV</label>
         				<input ngModel name="cv" type="file" (change)="selectFile($event)"
         					class="form-control r-0 light s-12 datePicker" accept=".doc, .docx">
								<label *ngIf="response.cvBase64 != null" for="cv" class="col-form-label s-12">Curriculum già salvato, attenzione</label>
         			</div>
						</div>
					</div>
				</div>
				<!-- Fine row -->
			</div>
			<!-- Fine Card -->
			<hr>

			<div class="card-body">
				<h5 class="card-title">Colloquio</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div *ngIf="response" class="form-group col-4 m-0">
								<label for="dataColloquio" class="col-form-label s-12"><i class="icon-calendar mr-2"></i>DATA COLLOQUIO</label> 
								<input ngModel name="dataColloquio" [(ngModel)]=response.infoDettaglioCandidato.dataColloquio
									placeholder="Inserisci Data Colloquio"
									class="form-control r-0 light s-12 datePicker" type="date">
							</div>
							<div *ngIf="response" class="form-group col-4 m-0">
								<label for="annoColloquio" class="col-form-label s-12">ANNO COLLOQUIO</label> 
								<input ngModel name="annoColloquio" [(ngModel)]=response.infoDettaglioCandidato.annoColloquio
									class="form-control r-0 light s-12 date-picker" maxlength="4" type="number">
							</div>
							<div *ngIf="response" class="form-group col-4 m-0">
								<label for="esitoColloquio" class="col-form-label s-12">ESITO COLLOQUIO</label> 
								<select ngModel name="esitoColloquio" class="form-control r-0 light s-12 date-picker freccia">
									<option value="">{{esitoColloquio}}</option>
    							<option *ngFor="let esitoColloquio of listaEsitiColloquio" value={{esitoColloquio.id}}>{{esitoColloquio.nome}}</option>
    						</select>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Candidatura</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div *ngIf="response" class="form-group col-6 m-0">
								<label for="fonteReperimento" class="col-form-label s-12">FONTE REPERIMENTO</label> 
								<input ngModel name="fonteReperimento" [(ngModel)]=response.infoDettaglioCandidato.fonteReperimento
									placeholder="Inserisci Fonte Reperimento" maxlength="1000"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div *ngIf="response" class="form-group col-6 m-0">
								<label for="competenzaPrincipale" class="col-form-label s-12">COMPETENZA PRINCIPALE</label>
								<input ngModel name="competenzaPrincipale" [(ngModel)]=response.infoDettaglioCandidato.competenzaPrincipale
									placeholder="Insersci Competenza Principale" maxlength="1000"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
			<div class="card-body">
				<h5 class="card-title">Competenze</h5>
				<div class="form-row">

					<div *ngIf="response" id="lista-ruoli" class="col-md-12">
						<div *ngFor="let item of response.infoProfili; let i = index" id="row-ruolo-{{i}}" class="form-row">
							<div class="form-group col-3 m-0">
								<label for="profilo" class="col-form-label s-12">RUOLO</label>
								<select id="profilo" (change)="selectProfilo($event)" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" disabled>Selezionare...</option>
									<option *ngFor="let profilo of listaProfili" [selected]="item.nomeProfilo === profilo.nome"
										value={{profilo.id}}>{{profilo.nome}}</option>
								</select>
							</div>
					
							<div id="linguaggioDiv" class="form-group col-2 m-0"
								[ngStyle]="{'display':item.nomeProfilo == 'analista programmatore' || item.nomeProfilo == 'sviluppatore' ? 'block' : 'none'}">
								<label for="linguaggio" class="col-form-label s-12">LINGUAGGIO</label>
								<select id="linguaggio" class="form-control r-0 light s-12 date-picker freccia"
									(change)="selectLinguaggio($event)">
									<option value="" disabled>Selezionare...</option>
									<option *ngFor="let linguaggio of listaLinguaggi" [selected]="item.nomeLinguaggio === linguaggio.nome"
										value={{linguaggio.id}}>{{linguaggio.nome}}</option>
								</select>
							</div>
					
					
							<div id="livelloProgrammatoreDiv" class="form-group col-2 m-0"
								[ngStyle]="{'display':item.nomeProfilo == 'analista programmatore' || item.nomeProfilo == 'sviluppatore' ? 'block' : 'none'}">
								<label for="livelloProgrammatore" class="col-form-label s-12">SENIORITY</label>
								<select id="livelloProgrammatore" class="form-control r-0 light s-12 date-picker freccia"
									(change)="selectLivello($event)">
									<option value="" disabled>Selezionare...</option>
									<option *ngFor="let livello of listaLivelli" [selected]="item.nomeLivello === livello.nome"
										value={{livello.id}}>{{livello.nome}}</option>
								</select>
							</div>
					
							<div id="livelloDiv" class="form-group col-4 m-0"
								[ngStyle]="{'display':item.nomeProfilo != 'analista programmatore' && item.nomeProfilo != 'sviluppatore' ? 'block' : 'none'}">
								<label for="livello" class="col-form-label s-12">SENIORITY</label>
								<select id="livello" class="form-control r-0 light s-12 date-picker freccia" (change)="selectLivello($event)">
									<option value="" selected disabled>Selezionare...</option>
									<option *ngFor="let livello of listaLivelli" [selected]="item.nomeLivello === livello.nome"
									value={{livello.id}}>{{livello.nome}}</option>
								</select>
							</div>
					
							<div id="noteDiv" class="form-group col-4 m-0">
								<label for="note" class="col-form-label s-12">NOTE</label>
								<input id="note" placeholder="Inserisci Note" (change)="selectNote($event)"
									class="form-control r-0 light s-12 date-picker" type="text" value="{{item.descrizione}}">
							</div>
					
							<div id="button" class="col 1" [ngStyle]="{'display':i < response.infoProfili.length-1 || response.infoProfili.length == 1 ? 'block' : 'none'}">
								<div class="row">
									<div class="form-group col-12 m-0">
										<label for="button" class="col-form-label s-12">ADD</label>
										<button id="add" class="plus form-control r-0 light s-12 date-picker pulsante cursor"
											(click)="addRowProfilo()" [disabled]="i != response.infoProfili.length-1">+</button>
									</div>
								</div>
							</div>
							<div id="buttons" class="col 1" [ngStyle]="{'display':i == response.infoProfili.length -1 && response.infoProfili.length != 1 ? 'block' : 'none'}">
								<div class="row">
									<div class="form-group col-6 m-0">
										<label for="button" class="col-form-label s-12">REMOVE</label>
										<span id="remove" class="plus form-control r-0 light s-12 date-picker pulsante cursor"
											(click)="removeRowProfilo()">-</span>
									</div>
									<div class="form-group col-6 m-0">
										<label for="button" class="col-form-label s-12">ADD</label>
										<button id="add" class="plus form-control r-0 light s-12 date-picker pulsante cursor"
											(click)="addRowProfilo()">+</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
			<div class="card-body">
				<h5 class="card-title">Lingue</h5>
				<div class="form-row">
					<div *ngIf="response" id="lista-lingue" class="col-md-12">
						<div *ngFor="let item of response.infoLingue; let i = index" id="row-lingua-{{i}}" class="form-row">

							<div class="form-group col-10 m-0">
								<label for="lingua" class="col-form-label s-12">LINGUA</label>
								<select id="lingua" (change)="selectLingua($event)" class="form-control r-0 light s-12 date-picker freccia">
									<option value="" disabled>Selezionare...</option>
    							<option *ngFor="let lingua of listaLingue" [selected]="item.nomeLingua === lingua.nome"
										value={{lingua.id}}>{{lingua.nome}}</option>
								</select>
							</div>

							<div id="button" class="col-2" [ngStyle]="{'display':i < response.infoLingue.length-1 || response.infoLingue.length == 1 ? 'block' : 'none'}">
								<div class="row">
									<div class="form-group col-12 m-0">
										<label for="button" class="col-form-label s-12">ADD</label>
										<button id="add" class="plus form-control r-0 light s-12 date-picker pulsante cursor" (click)="addRowLingua()" [disabled]="i != response.infoLingue.length-1">+</button>
									</div>
								</div>
							</div>
							<div id="buttons" class="col-2" [ngStyle]="{'display':i == response.infoLingue.length-1  && response.infoLingue.length != 1 ? 'block' : 'none'}">
								<div class="row">
									<div class="form-group col-6 m-0">
										<label for="button" class="col-form-label s-12">REMOVE</label>
										<span id="remove" class="plus form-control r-0 light s-12 date-picker pulsante cursor" (click)="removeRowLingua()">-</span>
									</div>
									<div class="form-group col-6 m-0">
										<label for="button" class="col-form-label s-12">ADD</label>
										<button id="add" class="plus form-control r-0 light s-12 date-picker pulsante cursor" (click)="addRowLingua()">+</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Mansione</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div *ngIf="response" class="form-group col-12 m-0">
								<label for="possibilitaLavorativa" class="col-form-label s-12">POSSIBILIT&Agrave; LAVORATIVA</label>
								<input ngModel name="possibilitaLavorativa" [(ngModel)]=response.infoDettaglioCandidato.possibilitaLavorativa
									placeholder="Insersci Possibilit&agrave; Lavorativa" maxlength="1000"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Info Extra</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div *ngIf="response" class="form-group col-6 m-0">
								<label for="dettagliCandidato" class="col-form-label s-12">COMPETENZE TOTALI</label> 
								<input ngModel name="competenzeTotali" [(ngModel)]=response.infoDettaglioCandidato.competenzeTotali
									placeholder="Insersci Competenze Totali" maxlength="1000"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div *ngIf="response" class="form-group col-6 m-0">
								<label for="certificazioni" class="col-form-label s-12">CERTIFICAZIONI</label>
								<input ngModel name="certificazioni" [(ngModel)]=response.infoDettaglioCandidato.certificazioni
									placeholder="Insersci Certificazioni" maxlength="1000"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>

			<div class="card-body bodyColore">
				<h5 class="card-title">Attuali Condizioni Contrattuali</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div *ngIf="response" class="form-group col-4 m-0">
								<label for="ral" class="col-form-label s-12">RAL</label> 
                <input ngModel name="ral" placeholder="Insersci RAL"
									class="form-control r-0 light s-12 date-picker" type="number" step="0.01" [(ngModel)]=response.infoDettaglioCandidato.ral>
							</div>
							<div *ngIf="response" class="form-group col-4 m-0">
								<label for="ccnl" class="col-form-label s-12">CCNL</label>
								<select ngModel id="ccnl" name="ccnl" class="form-control r-0 light s-12 date-picker freccia" (change)="selectLivelloInquadramento($event)">
																							<!-- dipende come lo settiamo -->
									<option value="">{{response.infoDettaglioCandidato.ccnl}}</option>
    							<option *ngFor="let ccnl of listaCcnl" value={{ccnl.id}}>{{ccnl.nome}}</option>
								</select>
								<!-- <input ngModel name="ccnl" placeholder="Insersci CCNL"
									class="form-control r-0 light s-12 date-picker" type="text"> -->
							</div>
							<div *ngIf="response" class="form-group col-4 m-0">
								<label for="livelloInquadramento" class="col-form-label s-12">LIVELLO INQUADRAMENTO</label>
								<select ngModel id="livelloInquadramento" name="idLivelloInquadramento" class="form-control r-0 light s-12 date-picker freccia">
									<option *ngIf="response.infoDettaglioCandidato.idLivelloInquadramento == 0" value="" disabled>Selezionare...</option>
									<option id="livelloInquadramentoOption" *ngIf="response.infoDettaglioCandidato.idLivelloInquadramento != 0" value="" selected disabled>
										{{response.infoDettaglioCandidato.livelloInquadramentoNome}}</option>
    							<option id="livelloInquadramentoOption" *ngFor="let livelloInquadramento of listaLivelloInquadramento" value={{livelloInquadramento.id}}>{{livelloInquadramento.nome}}</option>
								</select>
								<!-- <input ngModel name="livelloInquadramento" placeholder="Insersci Livello Inquadramento"
									class="form-control r-0 light s-12 date-picker" type="text"> -->
							</div>
						</div>
						<div *ngIf="response" class="form-row" style="margin-top: 20px">
							<div class="form-group col-4 m-0">
								<label for="ticket" class="col-form-label s-12">TICKET</label>
								<input ngModel name="ticket" placeholder="Insersci Ticket" maxlength="1000"
									class="form-control r-0 light s-12 date-picker" type="text" [(ngModel)]=response.infoDettaglioCandidato.ticket>
							</div>
							<div *ngIf="response" class="form-group col-4 m-0">
								<label for="rimborsi" class="col-form-label s-12">RIMBORSI</label>
								<input ngModel name="rimborsi" placeholder="Insersci Rimborsi"
									class="form-control r-0 light s-12 date-picker" type="number" step="0.01" [(ngModel)]=response.infoDettaglioCandidato.rimborsi>
							</div>
							<div *ngIf="response" class="form-group col-4 m-0">
								<label for="preavviso" class="col-form-label s-12">PREAVVISO</label>
								<input ngModel name="preavviso" placeholder="Insersci Preavviso"
									class="form-control r-0 light s-12 date-picker" type="number" step="0.01" [(ngModel)]=response.infoDettaglioCandidato.preavviso>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
			<div class="card-body bodyColore">
				<h5 class="card-title">Condizioni Economiche Desiderate</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div *ngIf="response" class="form-row">
							<div class="form-group col-3 m-0">
								<label for="costoGiornaliero" class="col-form-label s-12">COSTO GIORNALIERO (€)</label> 
                <input ngModel name="costoGiornaliero" placeholder="Insersci Costo Giornaliero"
									class="form-control r-0 light s-12 date-picker" type="number" step="0.01" [(ngModel)]=response.infoDettaglioCandidato.costoGiornaliero>
							</div>
							<div class="form-group col-9 m-0">
								<label for="campoLibero" class="col-form-label s-12">CAMPO LIBERO</label>
								<input ngModel name="campoLibero" placeholder="Insersci Campo Libero" maxlength="65000"
									class="form-control r-0 light s-12 date-picker" type="text" [(ngModel)]=response.infoDettaglioCandidato.campoLibero>
							</div>
						</div>
					</div>
				</div>
			</div>


      <div class="card-body">
				<h5 class="card-title">Impressioni</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-12 m-0">
								<label for="commento" class="col-form-label s-12">COMMENTO</label>
								<input ngModel name="commento" placeholder="Insersci Commento"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>

				<div class="card-body">
					<input type="submit" value="SALVA">
				</div>
			</div>
		</div>
	</form>
</div>
