<div class="card-body spazio">
  <span class="briciole"><a routerLink="../../../default/pagina-avvisi">Home</a> / <a routerLink="../../../default/pagina-candidati">Pagina Candidati</a> / Modifica Candidati</span>
</div>
<div class="card-body">
	<form #updateForm="ngForm" (ngSubmit)="updateCandidato(updateForm)">
		<div class="card no-b  no-r">
			<div class="card-body">
				<h5 class="card-title">Anagrafica</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div *ngIf="datiCandidato" class="form-group col-6 m-0">
								<label for="nomeCognome" class="col-form-label s-12">NOME E COGNOME</label> 
                <input ngModel name="nomeCognome" [(ngModel)]=datiCandidato.nomeCognome
									placeholder="Inserisci Nome e Cognome"
									class="form-control r-0 light s-12 " type="text">
							</div>
							<div *ngIf="datiCandidato" class="form-group col-6 m-0">
								<label for="recapito" class="col-form-label s-12">RECAPITO</label>
								<input ngModel name="recapito" [(ngModel)]=datiCandidato.recapito
									placeholder="Inserisci Recapito"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
						<div class="form-row">
							<div *ngIf="datiCandidato" class="form-group col-6 m-0">
								<label for="email" class="col-form-label s-12">EMAIL</label>
								<input ngModel name="email" [(ngModel)]=datiCandidato.email
                  placeholder="Inserisci Email"
									class="form-control r-0 light s-12 datePicker" type="text">
							</div>
							<div *ngIf="datiCandidato" class="form-group col-6 m-0">
								<label for="profiloLinkedin" class="col-form-label s-12">PROFILO LINKEDIN</label>
								<input id="profiloLinkedin" name="profiloLinkedin" [(ngModel)]=datiCandidato.profiloLinkedin
                  placeholder="Linkedin URL"
									class="form-control r-0 light s-12 datePicker" type="text">
							</div>
							<div *ngIf="datiCandidato" class="form-group col-6 m-0">
								<label for="citta" class="col-form-label s-12">CITT&Agrave;</label> 
                <input ngModel name="citta" [(ngModel)]=datiCandidato.citta
                  placeholder="Inserisci Citt&agrave;"
									class="form-control r-0 light s-12 datePicker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine row -->
			</div>
			<!-- Fine Card -->
			<hr>

			<div class="card-body">
				<h5 class="card-title">Colloquio</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div *ngIf="datiCandidato" class="form-group col-4 m-0">
								<label for="dataColloquio" class="col-form-label s-12"><i class="icon-calendar mr-2"></i>DATA COLLOQUIO</label> 
								<input ngModel name="dataColloquio" [(ngModel)]=datiCandidato.dataColloquio
									placeholder="Inserisci Data Colloquio"
									class="form-control r-0 light s-12 datePicker" type="date">
							</div>
							<div *ngIf="datiCandidato" class="form-group col-4 m-0">
								<label for="annoColloquio" class="col-form-label s-12">ANNO COLLOQUIO</label> 
								<input ngModel name="annoColloquio" [(ngModel)]=datiCandidato.annoColloquio
									class="form-control r-0 light s-12 date-picker" type="number">
							</div>
							<div *ngIf="dettagliCandidato" class="form-group col-4 m-0">
								<label for="esitoColloquio" class="col-form-label s-12">ESITO COLLOQUIO</label> 
								<select ngModel name="esitoColloquio" class="form-control r-0 light s-12 date-picker freccia">
									<option value="">{{dettagliCandidato[0]}}</option>
    							<option *ngFor="let esitoColloquio of dettagliCandidato[1]" value={{esitoColloquio.id}}>{{esitoColloquio.nome}}</option>
    						</select>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Candidatura</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div *ngIf="datiCandidato" class="form-group col-4 m-0">
								<label for="fonteReperimento" class="col-form-label s-12">FONTE REPERIMENTO</label> 
								<input ngModel name="fonteReperimento" [(ngModel)]=datiCandidato.fonteReperimento
									placeholder="Inserisci Fonte Reperimento"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div *ngIf="dettagliCandidato" class="form-group col-4 m-0">
								<label for="profilo" class="col-form-label s-12">RUOLO</label>
								<select ngModel name="profilo" class="form-control r-0 light s-12 date-picker freccia">
									<option value="">{{dettagliCandidato[2]}}</option>
    							<option *ngFor="let profilo of dettagliCandidato[3]" value={{profilo.id}}>{{profilo.nome}}</option>
								</select>
							</div>
							<div *ngIf="datiCandidato" class="form-group col-4 m-0">
								<label for="competenzaPrincipale" class="col-form-label s-12">COMPETENZA PRINCIPALE</label>
								<input ngModel name="competenzaPrincipale" [(ngModel)]=datiCandidato.competenzaPrincipale
									placeholder="Insersci Competenza Principale"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Costo Impiego</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div *ngIf="datiCandidato" class="form-group col-6 m-0">
								<label for="costoGiornaliero" class="col-form-label s-12">COSTO GIORNALIERO</label> 
								<input ngmodel name="costoGiornaliero" [(ngModel)]=datiCandidato.costoGiornaliero
									placeholder="Insersci Costo Giornaliero"
									class="form-control r-0 light s-12 date-picker" type="number" step="0.01">
							</div>
							<div *ngIf="datiCandidato" class="form-group col-6 m-0">
								<label for="possibilitaLavorativa" class="col-form-label s-12">POSSIBILIT&Agrave; LAVORATIVA</label>
								<input ngModel name="possibilitaLavorativa" [(ngModel)]=datiCandidato.possibilitaLavorativa
									placeholder="Insersci Possibilit&Agrave; Lavorativa"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Skill</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div *ngIf="dettagliCandidato" class="form-group col-4 m-0">
								<label for="skill1" class="col-form-label s-12">SKILL1</label>
								<select ngModel name="skill1" class="form-control r-0 light s-12 date-picker freccia">
									<option value="">{{dettagliCandidato[4]}}</option>
    							<option *ngFor="let skill of dettagliCandidato[5]" value={{skill.id}}>{{skill.nome}}</option>
								</select>
							</div>
							<div *ngIf="dettagliCandidato" class="form-group col-4 m-0">
								<label for="skill2" class="col-form-label s-12">SKILL2</label>
								<select ngModel name="skill2" class="form-control r-0 light s-12 date-picker freccia">
									<option value="">{{dettagliCandidato[6]}}</option>
    							<option *ngFor="let skill of dettagliCandidato[7]" value={{skill.id}}>{{skill.nome}}</option>
								</select>
							</div>
							<div *ngIf="dettagliCandidato" class="form-group col-4 m-0">
								<label for="skill3" class="col-form-label s-12">SKILL3</label>
								<select ngModel name="skill3" class="form-control r-0 light s-12 date-picker freccia">
									<option value="">{{dettagliCandidato[8]}}</option>
    							<option *ngFor="let skill of dettagliCandidato[9]" value={{skill.id}}>{{skill.nome}}</option>
								</select>
							</div>
							<div *ngIf="dettagliCandidato" class="form-group col-4 m-0">
								<label for="skill4" class="col-form-label s-12">SKILL4</label>
								<select ngModel name="skill4" class="form-control r-0 light s-12 date-picker freccia">
									<option value="">{{dettagliCandidato[10]}}</option>
    							<option *ngFor="let skill of dettagliCandidato[11]" value={{skill.id}}>{{skill.nome}}</option>
								</select>
							</div>
							<div *ngIf="dettagliCandidato" class="form-group col-4 m-0">
								<label for="skill5" class="col-form-label s-12">SKILL5</label>
								<select ngModel name="skill5" class="form-control r-0 light s-12 date-picker freccia">
									<option value="">{{dettagliCandidato[12]}}</option>
    							<option *ngFor="let skill of dettagliCandidato[13]" value={{skill.id}}>{{skill.nome}}</option>
    						</select>
							</div>
							<div *ngIf="datiCandidato" class="form-group col-4 m-0">
								<label for="skillCampoLibero" class="col-form-label s-12">SKILL (campo libero)</label> 
								<input ngModel name="skillCampoLibero" [(ngModel)]=datiCandidato.skillCampoLibero
									placeholder="Insersci Skill Campo Libero"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Lingua</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div *ngIf="dettagliCandidato" class="form-group col-4 m-0">
								<label for="lingua1" class="col-form-label s-12">LINGUA 1</label> 
								<select ngModel name="lingua1" class="form-control r-0 light s-12 date-picker freccia">
									<option value="">{{dettagliCandidato[14]}}</option>
    							<option *ngFor="let lingua of dettagliCandidato[15]" value={{lingua.id}}>{{lingua.nome}}</option>
								</select>
							</div>
							<div *ngIf="dettagliCandidato" class="form-group col-4 m-0">
								<label for="lingua2" class="col-form-label s-12">LINGUA 2</label>
								<select ngModel name="lingua2" class="form-control r-0 light s-12 date-picker freccia">
									<option value="">{{dettagliCandidato[16]}}</option>
    							<option *ngFor="let lingua of dettagliCandidato[17]" value={{lingua.id}}>{{lingua.nome}}</option>
   							</select>
							</div>
							<div *ngIf="dettagliCandidato" class="form-group col-4 m-0">
								<label for="lingua3" class="col-form-label s-12">LINGUA 3</label> 
								<select ngModel name="lingua3" class="form-control r-0 light s-12 date-picker freccia">
									<option value="">{{dettagliCandidato[18]}}</option>
    							<option *ngFor="let lingua of dettagliCandidato[19]" value={{lingua.id}}>{{lingua.nome}}</option>
   							</select>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Info Extra</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div *ngIf="datiCandidato" class="form-group col-4 m-0">
								<label for="competenzeTotali" class="col-form-label s-12">COMPETENZE TOTALI</label> 
								<input id="competenzeTotali" name="competenzeTotali" [(ngModel)]=datiCandidato.competenzeTotali
									placeholder="Insersci Competenze Totali"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div *ngIf="datiCandidato" class="form-group col-4 m-0">
								<label for="certificazioni" class="col-form-label s-12">CERTIFICAZIONI</label>
								<input ngModel name="certificazioni" [(ngModel)]=datiCandidato.certificazioni
									placeholder="Insersci Certificazioni"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
							<div *ngIf="dettagliCandidato" class="form-group col-4 m-0">
								<label for="livello" class="col-form-label s-12">SENIORITY</label>
								<select ngModel name="livello" class="form-control r-0 light s-12 date-picker freccia">
									<option value="">{{dettagliCandidato[20]}}</option>
    							<option *ngFor="let livello of dettagliCandidato[21]" value={{livello.id}}>{{livello.nome}}</option>
   							</select>
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>
      </div>
      <div class="card-body">
				<h5 class="card-title">Impressioni</h5>
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="form-group col-12 m-0">
								<label for="commento" class="col-form-label s-12">COMMENTO</label>
								<input ngModel name="commento" placeholder="Insersci Commento"
									class="form-control r-0 light s-12 date-picker" type="text">
							</div>
						</div>
					</div>
				</div>
				<!-- Fine Row -->
				<hr>

				<div class="card-body">
					<input type="submit" value="SALVA">
				</div>
			</div>
		</div>
	</form>
</div>
