<div class="card-body spazio">
  <span class="briciole"><a routerLink="../../default/pagina-avvisi">Home</a> / Pagina Beni</span>
</div>
<span id="tooltip"></span>
<br>
<div class="card-body">
  <table id="tabellaBeni" class="table table-striped table-bordered">
    <thead>
      <tr class="no-b">
        <th class="titolotabella">DISPOSITIVO</th>
        <th class="titolotabella">MARCA</th>
        <th class="titolotabella">MODELLO</th>
        <th class="titolotabella">DIPENDENTE</th>
        <th class="titolotabella">AZIONI</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bene of listaBeni">
        <td>{{bene.idDispositivo}}</td>
        <td>{{bene.marca}}</td>
        <td>{{bene.modello}}</td>
        <td *ngIf="bene.idDipendente != ''">{{bene.idDipendente}}</td>
        <td *ngIf="bene.dipendente == null">Non Assegnato</td>
        <td><a [routerLink]="['../pagina-visualizza-bene', bene.id]"><i class="icon-eye mr-3"></i></a>
        <a [routerLink]="['../pagina-modifica-bene', bene.id]"><i class="icon-pencil"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>	